@{
    ViewData["Title"] = "Index";

    Layout = "_random";
}

<div class="form">
    <h2>Quote</h2>

    <div class="quotes">

        <div class="quotebox">
            <p class="quote">Those who know do not speak. Those who speak do not know.</p>
        </div>
        <div class="author">
            <span>~</span>
            <span class="name">Lao Tsu</span>
        </div>
    </div>

    <div class="row buttons">
        <div class="col mt-2">
            <div class="features">

                <ol>
                    <a class="copy">Copy</a>
                    <a class="tweet">Tweet</a>
                </ol>

                <ul>

                </ul>

                <div class="col mt-2 yeni">
                    <button class="button">New Quote</button>
                </div>
            </div>
        </div>
    </div>
</div>
